body {
    font-family: Montserrat , sans-serif;
    margin: 0;
    padding: 0;
  }
  /* Top Banner */
  .top-banner {
    background-color: #4c3a1e;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
    font-family: Rhodium Libre;
  }

  /* Header */
  .header {
    background-color: #fdf5e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .breadcrumb{
    color: grey;
    background-color:lightgray;
    font-style: italic;
  }

  /* Logo */
  .logo img {
    height: 60px;
  }

  /* Navigation Menu */
  .nav-menu {
    display: flex;
    gap: 18px;
    font-family: playfair;
    font-size: 40px;
    font-weight: bolder;
  }

  .nav-menu a {
    text-decoration: none;
    color: #796149;
    font-size: 15px;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
  }

  .nav-menu a:hover {
    background-color: #464E2E;
    color: white;
    border-radius: 20px;
  }

  /* Search and Cart */
  .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .search-bar {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: playfair;
    width: 300px;
  }

  .username {
    padding: 8px;
    background-color: #e8e8e8;
    border-radius: 5px;
    font-size: 16px;
    font-family: playfair;
  }